{% if messages %}
    {% for message in messages %}
    <div class="container mt-2">
        {% if 'error' == message.tags %}
        <div class="alert alert-danger" alert-dismissable role="alert">
        {% else %}
        <div class="alert alert-{{message.tags}}" alert-dismissable role="alert">
        {% endif %}
            <button class="close" type="button" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
            <h6 class="font-weight-light">{{message}}</h6>
        </div>
    </div>
    {% endfor %}
{% endif %}